{{- $additionalPorts := (include "api-gateway-kong.customization.ports" $) }}
apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  labels:
    {{- include "api-gateway-kong.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.admin.port }}
      protocol: "TCP"
      name: admin
      {{- if (and (or (eq .Values.service.type "NodePort") (eq .Values.service.type "LoadBalancer")) (not (empty .Values.service.admin.nodePort))) }}
      nodePort: {{ .Values.service.admin.nodePort }}
      {{- end }}
    - port: {{ .Values.service.consumer.port }}
      protocol: "TCP"
      name: consumer
      {{- if (and (or (eq .Values.service.type "NodePort") (eq .Values.service.type "LoadBalancer")) (not (empty .Values.service.consumer.nodePort))) }}
      nodePort: {{ .Values.service.consumer.nodePort }}
      {{- end }}
    {{- if $additionalPorts }}
      {{- $additionalPorts | nindent 4 }}
    {{- end }}
  selector:
    {{- include "api-gateway-kong.selectorLabels" . | nindent 4 }}