apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak-internal-deployment
  labels:
    {{- include "keycloak-internal.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "keycloak-internal.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "keycloak-internal.selectorLabels" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- include "keycloak-internal.imagePullSecrets" . | indent 6 }}
      {{- if .Values.podSecurityContext }}
      securityContext: {{- .Values.podSecurityContext | toYaml | nindent 8 }}
      {{- end }}
      initContainers:
        - name: init-theme
          image: {{ include "keycloak-internal.theme.image" . }}
          imagePullPolicy: {{ .Values.theme.image.pullPolicy }}
          command:
            - /bin/sh
            - -c
            - |
              cp -a /themes/. /data/
          volumeMounts:
            - mountPath: /data
              name: ephemeral
      containers:
      - name: keycloak-internal
        image: {{ include "keycloak-internal.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        args: {{ .Values.keycloak.args }}
        env:
          - name: KEYCLOAK_ADMIN
            valueFrom:
              secretKeyRef:
                name: keycloak-internal-secret
                key: username
          - name: KEYCLOAK_ADMIN_PASSWORD
            valueFrom:
              secretKeyRef:
                name: keycloak-internal-secret
                key: password
          - name: KC_HOSTNAME_STRICT
            value: {{ .Values.keycloak.hostnameStrict | quote }}
          - name: KC_HOSTNAME_STRICT_HTTPS
            value: {{ .Values.keycloak.hostnameStrictHttps | quote }}
          - name: JAVA_OPTS_APPEND
            value: "-Djgroups.dns.query=keycloak-service-internal-headless"
          - name: KC_PROXY
            value: {{ .Values.keycloak.proxy | quote }}
          - name: KC_HTTP_PORT
            value: {{ .Values.service.port | quote }}
          - name: KC_HTTP_ENABLED
            value: {{ .Values.keycloak.httpEnabled | quote }}
          - name: PROXY_ADDRESS_FORWARDING
            value: {{ .Values.keycloak.proxyAddressForwarding | quote }}
          - name: KC_DB_SCHEMA
            value: {{ .Values.keycloak.dbSchema | quote }}
          - name: KC_DB_URL
            value: {{ include "czertainly-lib.util.format.jdbcUrl" (list . "?characterEncoding=UTF-8") | quote }}
          - name: KC_DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: keycloak-internal-secret
                key: dbUsername
          - name: KC_DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: keycloak-internal-secret
                key: dbPassword
          - name: KC_LOG_LEVEL
            value: {{ .Values.logging.level | quote }}
        ports:
          - name: http
            containerPort: {{ .Values.service.port }}
            protocol: "TCP"
        {{- if .Values.image.securityContext }}
        securityContext: {{- .Values.image.securityContext | toYaml | nindent 12 }}
        {{- end }}
        {{- if .Values.image.probes.liveness.enabled }}
        livenessProbe:
          {{- if .Values.image.probes.liveness.custom }}
          {{- toYaml .Values.image.probes.liveness.custom | nindent 12 }}
          {{- else }}
          httpGet:
            path: {{ .Values.keycloak.httpRelativePath }}/
            port: http
          {{- end }}
          initialDelaySeconds: {{ .Values.image.probes.liveness.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.image.probes.liveness.timeoutSeconds }}
          periodSeconds: {{ .Values.image.probes.liveness.periodSeconds }}
          successThreshold: {{ .Values.image.probes.liveness.successThreshold }}
          failureThreshold: {{ .Values.image.probes.liveness.failureThreshold }}
        {{- end }}
        {{- if .Values.image.probes.readiness.enabled }}
        readinessProbe:
          {{- if .Values.image.probes.readiness.custom }}
          {{- toYaml .Values.image.probes.readiness.custom | nindent 12 }}
          {{- else }}
          httpGet:
            path: {{ .Values.keycloak.httpRelativePath }}/realms/master
            port: http
          {{- end }}
          initialDelaySeconds: {{ .Values.image.probes.readiness.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.image.probes.readiness.timeoutSeconds }}
          periodSeconds: {{ .Values.image.probes.readiness.periodSeconds }}
          successThreshold: {{ .Values.image.probes.readiness.successThreshold }}
          failureThreshold: {{ .Values.image.probes.readiness.failureThreshold }}
        {{- end }}
        {{- if .Values.image.probes.startup.enabled }}
        startupProbe:
          {{- if .Values.image.probes.startup.custom }}
          {{- toYaml .Values.image.probes.startup.custom | nindent 12 }}
          {{- else }}
          httpGet:
            path: {{ .Values.keycloak.httpRelativePath }}/realms/master
            port: http
          {{- end }}
          initialDelaySeconds: {{ .Values.image.probes.startup.initialDelaySeconds }}
          timeoutSeconds: {{ .Values.image.probes.startup.timeoutSeconds }}
          periodSeconds: {{ .Values.image.probes.startup.periodSeconds }}
          successThreshold: {{ .Values.image.probes.startup.successThreshold }}
          failureThreshold: {{ .Values.image.probes.startup.failureThreshold }}
        {{- end }}
        volumeMounts:
          - name: import-realm-volume
            mountPath: /opt/keycloak/data/import
          - mountPath: /opt/keycloak/themes
            name: ephemeral
          - mountPath: /opt/keycloak/data/tmp
            name: ephemeral
          - mountPath: /tmp
            name: ephemeral
      volumes:
        - name: import-realm-volume
          configMap:
            name: keycloak-internal-configmap
            items:
              - key: czertainly_realm.json
                path: czertainly_realm.json
        - name: ephemeral
          {{- include "keycloak-internal.ephemeralVolume" . | indent 10 }}
