apiVersion: v1
data:
  # if the global values are defined, use it, otherwise use local values
  dbPassword: {{ pluck "password" .Values.global.database .Values.database | compact | first | b64enc | quote }}
  dbUsername: {{ pluck "username" .Values.global.database .Values.database | compact | first | b64enc | quote }}
  messagingPassword: {{ pluck "password" .Values.global.messaging .Values.messaging | compact | first | b64enc | quote }}
  messagingUsername: {{ pluck "username" .Values.global.messaging .Values.messaging | compact | first | b64enc | quote }}
kind: Secret
metadata:
  name: scheduler-service-secret