{{- $imagePullSecrets := pluck "imagePullSecrets" .Values.global .Values | compact | first }}
{{- $messagingAmqpPort := .Values.messaging.amqp.port }}
{{- $additionalInitContainers := (include "scheduler-service.customization.initContainers" $) }}
{{- $additionalSidecarContainers := (include "scheduler-service.customization.sidecarContainers" $) }}
{{- $additionalVolumes := (include "scheduler-service.customization.volumes" $) }}
{{- $additionalVolumeMounts := (include "scheduler-service.customization.volumeMounts" $) }}
{{- $additionalEnv := (include "scheduler-service.customization.env" $) }}
{{- $additionalEnvFrom := (include "scheduler-service.customization.envFrom" $) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: scheduler-service-deployment
  labels:
    {{- include "scheduler-service.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "scheduler-service.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "scheduler-service.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/scheduler-service-secret.yaml") . | sha256sum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- include "scheduler-service.imagePullSecrets" . | indent 6 }}
      {{- if .Values.podSecurityContext }}
      securityContext: {{- .Values.podSecurityContext | toYaml | nindent 8 }}
      {{- end }}
      initContainers:
        - name: wait-for-messaging-service
          image: {{ include "scheduler-service.curl.image" . }}
          imagePullPolicy: {{ .Values.curl.image.pullPolicy }}
          {{- if .Values.curl.image.securityContext }}
          securityContext: {{- .Values.curl.image.securityContext | toYaml | nindent 12 }}
          {{- end }}
          {{- if .Values.curl.image.resources }}
          resources: {{- toYaml .Values.curl.image.resources | nindent 12 }}
          {{- end }}
          command:
            - /bin/sh
            - -c
            - |
              while ! nc -z messaging-service {{ $messagingAmqpPort }}; do sleep 1; done &&
              echo "messaging service seems to be started"
        {{- if $additionalInitContainers }}
          {{- $additionalInitContainers | nindent 8 }}
        {{- end }}
      containers:
        - name: scheduler-service
          image: {{ include "scheduler-service.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: PORT
              value: {{ .Values.service.port | quote }}
            - name: LOGGING_LEVEL_COM_CZERTAINLY
              value: {{ .Values.logging.level | quote }}
            - name: JDBC_URL
              value: {{ include "czertainly-lib.util.format.jdbcUrl" (list . "?characterEncoding=UTF-8") | quote }}
            - name: JDBC_USERNAME
              valueFrom:
                secretKeyRef:
                  name: scheduler-service-secret
                  key: dbUsername
            - name: JDBC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: scheduler-service-secret
                  key: dbPassword
            - name: JAVA_OPTS
              value: {{ .Values.javaOpts | quote }}
            - name: RABBITMQ_HOST
              value: "messaging-service"
            - name: RABBITMQ_PORT
              value: {{ $messagingAmqpPort | quote }}
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: scheduler-service-secret
                  key: messagingUsername
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: scheduler-service-secret
                  key: messagingPassword
            {{- if $additionalEnv }}
              {{- $additionalEnv | nindent 12 }}
            {{- end }}
          {{- if $additionalEnvFrom }}
          envFrom:
            {{- $additionalEnvFrom | indent 12 }}
          {{- end }}
          ports:
            - containerPort: {{ .Values.service.port }}
          {{- if .Values.image.securityContext }}
          securityContext: {{- .Values.image.securityContext | toYaml | nindent 12 }}
          {{- end }}
          {{- if .Values.image.probes.liveness.enabled }}
          livenessProbe:
            {{- if .Values.image.probes.liveness.custom }}
            {{- toYaml .Values.image.probes.liveness.custom | nindent 12 }}
            {{- else }}
            httpGet:
              path: /health/liveness
              port: {{ .Values.service.port }}
            {{- end }}
            initialDelaySeconds: {{ .Values.image.probes.liveness.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.image.probes.liveness.timeoutSeconds }}
            periodSeconds: {{ .Values.image.probes.liveness.periodSeconds }}
            successThreshold: {{ .Values.image.probes.liveness.successThreshold }}
            failureThreshold: {{ .Values.image.probes.liveness.failureThreshold }}
          {{- end }}
          {{- if .Values.image.probes.readiness.enabled }}
          readinessProbe:
            {{- if .Values.image.probes.readiness.custom }}
            {{- toYaml .Values.image.probes.readiness.custom | nindent 12 }}
            {{- else }}
            httpGet:
              path: /health/readiness
              port: {{ .Values.service.port }}
            {{- end }}
            initialDelaySeconds: {{ .Values.image.probes.readiness.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.image.probes.readiness.timeoutSeconds }}
            periodSeconds: {{ .Values.image.probes.readiness.periodSeconds }}
            successThreshold: {{ .Values.image.probes.readiness.successThreshold }}
            failureThreshold: {{ .Values.image.probes.readiness.failureThreshold }}
          {{- end }}
          {{- if .Values.image.probes.startup.enabled }}
          startupProbe:
            {{- if .Values.image.probes.startup.custom }}
            {{- toYaml .Values.image.probes.startup.custom | nindent 12 }}
            {{- else }}
            httpGet:
              path: /health/liveness
              port: {{ .Values.service.port }}
            {{- end }}
            initialDelaySeconds: {{ .Values.image.probes.startup.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.image.probes.startup.timeoutSeconds }}
            periodSeconds: {{ .Values.image.probes.startup.periodSeconds }}
            successThreshold: {{ .Values.image.probes.startup.successThreshold }}
            failureThreshold: {{ .Values.image.probes.startup.failureThreshold }}
          {{- end }}
          {{- if .Values.image.resources }}
          resources: {{- toYaml .Values.image.resources | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: /tmp
              name: ephemeral
            {{- if $additionalVolumeMounts }}
              {{- $additionalVolumeMounts | nindent 12 }}
            {{- end }}
        {{- if $additionalSidecarContainers }}
          {{- $additionalSidecarContainers | nindent 8 }}
        {{- end }}
      volumes:
        - name: ephemeral
          {{- include "scheduler-service.ephemeralVolume" . | indent 10 }}
        {{- if $additionalVolumes }}
          {{- $additionalVolumes | nindent 8 }}
        {{- end }}
