annotations:
  category: trustLifecycleManagement
apiVersion: v2
appVersion: 2.16.2
name: czertainly
description: A Helm chart for CZERTAINLY platform.
home: https://github.com/3KeyCompany/CZERTAINLY
icon: https://github.com/3KeyCompany/CZERTAINLY/blob/master/czertainly-logo/czertainly_sign_color.svg
dependencies:
  - condition: global.keycloak.enabled
    name: keycloak-internal
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../keycloak-internal
    tags:
      - keycloak-internal
    version: 26.4.2-0-2-develop
    alias: keycloakInternal
  - condition: commonCredentialProvider.enabled
    name: common-credential-provider
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../common-credential-provider
    tags:
      - credential-provider
    version: 1.3.5-2
    alias: commonCredentialProvider
  - condition: ejbcaNgConnector.enabled
    name: ejbca-ng-connector
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../ejbca-ng-connector
    tags:
      - authority-provider
      - discovery-provider
    version: 1.11.1-3-develop
    alias: ejbcaNgConnector
  - condition: pyAdcsConnector.enabled
    name: pyadcs-connector
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../pyadcs-connector
    tags:
      - authority-provider
      - discovery-provider
    version: 1.1.6-1-develop
    alias: pyAdcsConnector
  - condition: x509ComplianceProvider.enabled
    name: x509-compliance-provider
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../x509-compliance-provider
    tags:
      - compliance-provider
    version: 1.3.1-2
    alias: x509ComplianceProvider
  - condition: cryptosenseDiscoveryProvider.enabled
    name: cryptosense-discovery-provider
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../cryptosense-discovery-provider
    tags:
      - cryptosense-discovery-provider
    version: 1.4.1-2
    alias: cryptosenseDiscoveryProvider
  - condition: ctLogsDiscoveryProvider.enabled
    name: ct-logs-discovery-provider
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../ct-logs-discovery-provider
    tags:
      - ct-logs-discovery-provider
    version: 1.0.2-3-develop
    alias: ctLogsDiscoveryProvider
  - condition: networkDiscoveryProvider.enabled
    name: network-discovery-provider
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../network-discovery-provider
    tags:
      - discovery-provider
    version: 1.6.1-2
    alias: networkDiscoveryProvider
  - condition: keystoreEntityProvider.enabled
    name: keystore-entity-provider
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../keystore-entity-provider
    tags:
      - entity-provider
    version: 1.4.2-2
    alias: keystoreEntityProvider
  - condition: softwareCryptographyProvider.enabled
    name: software-cryptography-provider
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../software-cryptography-provider
    tags:
      - cryptography-provider
    version: 1.3.0-2
    alias: softwareCryptographyProvider
  - condition: emailNotificationProvider.enabled
    name: email-notification-provider
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../email-notification-provider
    tags:
      - notification-provider
    version: 1.1.1-2
    alias: emailNotificationProvider
  - condition: webhookNotificationProvider.enabled
    name: webhook-notification-provider
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../webhook-notification-provider
    tags:
      - notification-provider
    version: 1.0.0-2
    alias: webhookNotificationProvider
  - condition: hashicorpVaultConnector.enabled
    name: hashicorp-vault-connector
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../hashicorp-vault-connector
    tags:
      - authority-provider
      - discovery-provider
    version: 1.1.3-3-develop
    alias: hashicorpVaultConnector
  - condition: global.utils.enabled
    name: utils-service
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../utils-service
    tags:
      - utils-service
    version: 1.0.2-1
    alias: utilsService
  # the following are mandatory dependencies
  - name: czertainly-lib
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../czertainly-lib
    version: 1.4.2
  - name: api-gateway-kong
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../api-gateway-kong
    tags:
      - api-gateway
    version: 3.9.1-1
    alias: apiGateway
  - name: fe-administrator
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../fe-administrator
    tags:
      - fe
    version: 2.16.2
    alias: feAdministrator
  - name: auth-service
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../auth-service
    tags:
      - auth
    version: 1.6.3-2-develop
    alias: authService
  - name: auth-opa-policies
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../auth-opa-policies
    tags:
      - auth
      - opa
    version: 1.4.1-1
    alias: authOpaPolicies
  - condition: messagingService.enabled
    name: messaging-rabbitmq
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../messaging-rabbitmq
    tags:
      - messaging
    version: 4.2.0-1
    alias: messagingService
  - name: scheduler-service
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../scheduler-service
    tags:
      - scheduler
    version: 1.0.4-1
    alias: schedulerService
  - condition: global.database.pgBouncer.enabled
    name: pg-bouncer
    # repository: oci://harbor.3key.company/czertainly-helm
    repository: file://../pg-bouncer
    tags:
      - database
      - pgbouncer
    version: 1.24.1-p1-1
    alias: pgBouncer
keywords:
  - czertainly
  - certificate
  - cryptography
  - management
  - lifecycle
  - platform
maintainers:
  - name: CZERTAINLY
    email: info@czertainly.com
    url: https://github.com/3KeyCompany/CZERTAINLY-Helm-Charts
type: application
sources:
  - https://github.com/3KeyCompany/CZERTAINLY
  - https://www.czertainly.com
  - https://docs.czertainly.com
version: 2.16.3-1-develop
