# Default values for pg-bouncer.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

# Global parameters that will overwrite local parameters
global:
  replicaCount: 1
  image:
    registry: ""
    repository: ""
    # array of secret names
    pullSecrets: []
  database:
    host: ""
    port: ""
    name: ""
    username: ""
    password: ""
  httpProxy: ""
  httpsProxy: ""
  noProxy: ""
  # additional init containers that will be added to each pod
  # - name: some-image
  #   image: some-image
  #   imagePullPolicy: IfNotPresent
  #   securityContext:
  #     runAsNonRoot: true
  #   ports:
  #     - name: port
  #       containerPort: "{{ $.Values.container.port }}"
  initContainers: []
  # additional sidecar containers that will be added to each pod
  # see the sample of init containers above
  sidecarContainers: []
  # additional volumes that will be added to each pod
  # - name: additional-volume
  #   configMap:
  #     name: additional-volume
  additionalVolumes: []
  # additional volume mounts that will be added to each pod
  # - name: additional-volume
  #   mountPath: /opt/app
  #   readOnly: true
  additionalVolumeMounts: []
  # additional service ports that will be added to each pod
  # - name: other-port
  #   port: 8080
  #   targetPort: 8080
  additionalPorts: []
  # additional environment variables that will be added to each pod
  additionalEnv:
    # - name: SOME_ENV
    #   value: "some-value"
    variables: []
    # list of config maps to be added as environment variables
    configMaps: []
    # list of secrets to be added as environment variables
    secrets: []

database:
  host: "host.docker.internal"
  port: 5432
  name: "czertainlydb"
  username: "czertainlyuser"
  password: "your-strong-password"
  # see https://www.pgbouncer.org/config.html#auth_type for more information
  authType: "plain"
httpProxy: ""
httpsProxy: ""
noProxy: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
replicaCount: 1

service:
  type: "ClusterIP"
  port: 5432

image:
  # default registry name
  registry: docker.io
  repository: czertainly
  name: czertainly-pgbouncer
  tag: v1.24.1-p1
  # the digest to be used instead of the tag
  digest: ""
  pullPolicy: IfNotPresent
  # array of secret names
  pullSecrets: []
  # custom command and args
  command: []
  args: []
  # default security context
  securityContext:
    runAsNonRoot: true
    # runAsUser: 70
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop: ['all']
  # probes configuration
  probes:
    liveness:
      enabled: false
      # custom probe command, will override the default one
      custom: {}
      initialDelaySeconds: 5
      timeoutSeconds: 5
      periodSeconds: 60
      successThreshold: 1
      failureThreshold: 3
    readiness:
      enabled: true
      # custom probe command, will override the default one
      custom: {}
      initialDelaySeconds: 5
      timeoutSeconds: 5
      periodSeconds: 60
      successThreshold: 1
      failureThreshold: 3
    startup:
      enabled: true
      # custom probe command, will override the default one
      custom: {}
      initialDelaySeconds: 5
      timeoutSeconds: 5
      periodSeconds: 10
      successThreshold: 1
      failureThreshold: 10
  resources: {}
    # We follow recommendations and general guidelines to manage resources from:
    # https://master.sdk.operatorframework.io/docs/best-practices/managing-resources/
    # We recommend default requests for CPU and Memory, leaving the limits as a conscious
    # choice for the user. If you do want to specify your own resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources'.
    # requests:
    #   cpu: 30m
    #   memory: 40M
    # limits: {}

curl:
  image:
    # default registry name
    registry: docker.io
    repository: czertainly
    name: czertainly-curl
    tag: 8.16.0
    # the digest to be used instead of the tag
    digest: ""
    pullPolicy: IfNotPresent
    # array of secret names
    pullSecrets: []
    # custom command and args
    command: []
    args: []
    # default security context
    securityContext:
      runAsNonRoot: true
      # runAsUser: 100
      readOnlyRootFilesystem: true
    # it does not make sense to have probes for curl
    resources: {}
      # We follow recommendations and general guidelines to manage resources from:
      # https://master.sdk.operatorframework.io/docs/best-practices/managing-resources/
      # We recommend default requests for CPU and Memory, leaving the limits as a conscious
      # choice for the user. If you do want to specify your own resources, uncomment the following
      # lines, adjust them as necessary, and remove the curly braces after 'resources'.
      # requests:
      #   cpu: 50m
      #   memory: 150M
      # limits: {}

# customization of the chart
initContainers: []
sidecarContainers: []
additionalVolumes: []
additionalVolumeMounts: []
additionalPorts: []
additionalEnv:
  variables: []
  configMaps: []
  secrets: []

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: "pg-bouncer-sa"

podLabels: {}

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

section:
  pgbouncer:
    auth_type: "plain"
    auth_file: "/etc/pgbouncer/userlist.txt"
    pool_mode: "transaction"
    server_reset_query: "DISCARD ALL"
    max_prepared_statements: "10"
    max_client_conn: "1000"
    listen_addr: "0.0.0.0"
    listen_port: "5432"
    unix_socket_dir: ""
    admin_users: "postgres"
    ignore_startup_parameters: "extra_float_digits"
