annotations:
  category: trustLifecycleManagement
apiVersion: v2
appVersion: 1.3.0
name: czertainly-lib
description: CZERTAINLY library chart
home: https://github.com/3KeyCompany/CZERTAINLY
icon: https://github.com/3KeyCompany/CZERTAINLY/blob/master/czertainly-logo/czertainly_sign_color.svg
keywords:
  - czertainly
  - certificate
  - cryptography
  - management
  - lifecycle
  - platform
maintainers:
  - name: CZERTAINLY
    email: info@czertainly.com
    url: https://github.com/3KeyCompany/CZERTAINLY-Helm-Charts
type: library
sources:
  - https://github.com/3KeyCompany/CZERTAINLY
  - https://www.czertainly.com
  - https://docs.czertainly.com
version: 1.3.0
